@import 'normalize.scss';
* {
  box-sizing: border-box;
}
button,
button:active,
button:focus {
  outline: none;
}
@font-face {
  font-family: HelveticaNeue;
  src: url(../fonts/HelveticaNeue.ttf);
}
body {
  margin: 0;
  padding: 0;
  background: #373a3c;
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
}
body._lock {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  background: #373a3c;
  &__bar {
    padding: 0 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__logo {
    display: flex;
    z-index: 5;
  }
  .search {
    display: none;
  }
  &__ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  &__li {
    position: relative;
    display: flex;
    margin-left: 28px;
    cursor: pointer;
    .arrow {
      margin-left: 7px;
      transition-property: transform;
      transition-duration: 0.5s;
    }
    input {
      margin: 11px 7px;
      padding: 9px 16px;
      width: 210px;
      font-size: 16px;
      line-height: 131%;
      color: #435766;
      background: #ffffff;
      border: 1px solid #cccccc;
      box-sizing: border-box;
      border-radius: 4px;
    }
    img[alt='user'] {
      margin-right: 5px;
    }
  }
  &__link {
    font-size: 16px;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.5);
  }
  &__animation {
    position: absolute;
    z-index: 2;
    width: max-content;
    padding: 0;
    padding-top: 20px;
    margin: 0;
    left: 0;
    top: 10px;

    display: flex;
    flex-direction: column;
    list-style-type: none;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease 0s;
    li {
      padding: 10px 5px 5px 5px;
      background: #373a3c;
      a {
        font-size: 16px;
        line-height: 100%;
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
        transition-property: color;
        transition-duration: 0.3s;
      }
      a:hover {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  .menu-burger__header {
    display: none;
  }
}
.link {
  text-decoration: none;
}
.main {
  display: flex;
  flex-basis: fill;
  margin-top: 62px;
  overflow: hidden;
  img {
    width: 100vw;
    height: 700px;
  }
  &__info {
    position: absolute;
    top: 308px;
    left: 60%;
    display: flex;
    flex-direction: column;
    color: #fff;
    h1 {
      font-size: 36px;
      line-height: 131%;
      padding-right: 90px;
    }
    p {
      margin: 0;
      margin-left: 3px;
      font-size: 14px;
      line-height: 131%;
    }
  }
  &__link {
    margin-top: 20px;
    a {
      display: inline-block;
      padding: 9px 29px;
      font-size: 16px;
      line-height: 131%;
      color: #ffffff;
      border-radius: 4px;
      background: #8dd83d;
      margin-right: 13px;
      transition: transform 0.3s, box-shadow 0.3s;
    }
    a:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    }
  }
}
.details {
  padding: 99px 0 109px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eeefef;
  overflow: hidden;
  &__img {
    display: flex;
    align-items: center;
    img {
      width: 525px;
      height: 359px;
      object-fit: cover;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 46.2%;
    color: #435766;
    transform: translate(0, 100px);
    opacity: 0;
    transition: all 0.8s ease 0s;
    h2 {
      font-size: 36px;
      line-height: 131%;
    }
    p {
      margin: 37px 0 40px 0;
      font-size: 24px;
      line-height: 131%;
    }
  }
  &__info._active {
    transform: translate(0, 0);
    opacity: 1;
  }
  &__link {
    span {
      a {
        display: inline-block;
        padding: 14px 21px;
        border-radius: 4px;
        margin-right: 13px;
        background: #8dd83d;
        color: #fff;
        transition: transform 0.3s, box-shadow 0.3s;
      }
      a:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
      }
    }
    span:nth-child(2) a {
      background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
    }
  }
  &__video {
    padding: 103px 0 98px 0;
    transform: scale(0);
    opacity: 0;
    transition: all 1s ease 0s;
    iframe {
      border-radius: 11px;
    }
  }
  &__video._active {
    transform: scale(1);
    opacity: 1;
  }

  &__feature-1 {
    padding: 0 160px 97px 176px;
    display: flex;
    transform: translate(100%, 0);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }
  &__feature-1._active {
    transform: translate(0, 0);
    opacity: 1;
  }
  &__info-1 {
    padding-right: 160px;
  }
  &__feature-2 {
    padding: 0 176px 105px 160px;
    display: flex;
    transform: translate(-100%, 0);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }
  &__feature-2._active {
    transform: translate(0, 0);
    opacity: 1;
  }
  &__info-2 {
    padding-left: 160px;
  }
  .info {
    display: flex;
    flex-direction: column;
    color: #435766;
    padding-top: 20px;
    h2 {
      font-size: 36px;
      line-height: 131%;
    }
    p {
      margin: 37px 0 40px 0;
      font-size: 24px;
      line-height: 131%;
    }
  }

  &__specifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #435766;
    h2 {
      font-size: 36px;
      line-height: 131%;
    }
  }
  &__par {
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr 1fr;
    margin: 47px 155px 80px 155px;
    column-gap: 65px;
    row-gap: 20px;
    p {
      margin: 0;
      font-size: 21px;
      line-height: 114%;
      transform: translate(-100%, 0);
      opacity: 0;
    }
    p._active {
      transform: translate(0, 0);
      opacity: 1;
    }
    p._active:nth-child(1) {
      transition: all 0.4s ease 0s;
    }
    p._active:nth-child(2) {
      transition: all 0.4s ease 0.3s;
    }
    p._active:nth-child(3) {
      transition: all 0.4s ease 0.6s;
    }
    p._active:nth-child(4) {
      transition: all 0.4s ease 0.3s;
    }
    p._active:nth-child(5) {
      transition: all 0.4s ease 0.6s;
    }
    p._active:nth-child(6) {
      transition: all 0.4s ease 0.8s;
    }
  }
  .second {
    span:nth-child(1) a {
      background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
    }
    span:nth-child(2) a {
      background: #8dd83d;
    }
  }
}
.xbox {
  padding: 58px 100px 38px 100px;
  display: flex;
  flex-direction: column;
  &__nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    h3 {
      margin-bottom: 34px;
      color: #7dd42f;
      font-size: 18px;
      line-height: 117%;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        margin-bottom: 29px;
        a {
          text-decoration: none;
          color: #fff;
          font-size: 14px;
          line-height: 117%;
          border: none;
        }
        a:after {
          background-color: #fff;
          display: block;
          content: '';
          height: 2px;
          width: 0%;
          transition: width 0.3s ease-in-out;
        }

        a:hover:after,
        a:focus:after {
          width: 100%;
        }
      }
    }
  }
  &__nav-1 {
    margin-bottom: 20px;
  }
  &__contact {
    ul {
      display: flex;

      li {
        margin-bottom: 0;
        margin-right: 20px;
        a {
          display: flex;
          transition: transform 0.3s;
        }
        a:after {
          content: none;
        }
        a:hover {
          transform: scale(1.2);
        }
      }
    }
  }
  &__foot {
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    select {
      color: #fff;
      font-size: 16px;
      line-height: 117%;
      background-color: #373a3c;
      border: none;
    }
    p {
      margin: 0;
      color: #fff;
      font-size: 16px;
      line-height: 117%;
    }
  }
}

body._pc {
  .nav__li:hover .nav__link {
    color: rgba(255, 255, 255, 1);
  }
  .nav__li:hover .arrow {
    transform: rotate(-180deg);
  }
  .nav__li:hover .nav__animation {
    visibility: visible;
    opacity: 1;
  }
}
body._touch {
  li._active {
    .nav__animation {
      visibility: visible;
      opacity: 1;
    }
    .arrow {
      transform: rotate(-180deg);
    }
  }
}
@media (max-width: 1399.98px) {
  .info {
    padding: 64px 130px 70px 130px;
    &__head {
      margin-bottom: 0;
    }
    &__proposal {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__card {
      margin-right: 30px;
      margin-top: 60px;
    }
  }
  .games {
    padding: 97px 0;
  }
}

// Устройства Large (настольные компьютеры, менее 1400 пикселей)
@media (max-width: 1399.98px) {
  .details__feature-1 {
    padding: 0 130px 97px 136px;
  }
  .info {
    padding: 64px 40px 0px 10px;
  }
  .details__info-2 {
    padding: 64px 10px 0px 40px;
  }
}

// Устройства Large (настольные компьютеры, менее 1200 пикселей)
@media (max-width: 1199.98px) {
  .main img {
    height: 600px;
  }
  .nav__bar {
    padding: 0 80px;
  }
  .info {
    &__head {
      h2 {
        font-size: 40px;
      }
      h3 {
        font-size: 28px;
      }
    }
    &__buttons {
      margin-top: 0px;
      margin-bottom: 20px;
    }
  }
  .details__info {
    width: 60%;
  }
  .card {
    .card-text {
      h4 {
        margin-top: 15px;
        font-size: 16px;
      }
    }
  }
  .games {
    padding: 70px 0;
    &__slider {
      margin: 0;
      .card {
        .card-text {
          h4 {
            margin-bottom: 70px;
          }
        }
      }
    }
  }
  .details {
    padding: 60px 0 60px 0;
  }
  .details__feature-1,
  .details__feature-2 {
    flex-wrap: wrap;
    align-items: center;
  }
  .details__feature-1 {
    flex-direction: column;
  }
  .details__feature-2 {
    flex-direction: column-reverse;
  }
  .info {
    padding: 0;
  }
}
// Устройства Medium (планшеты, менее 992 пикселей)
@media (max-width: 991.98px) {
  .nav {
    &__bar {
      padding: 0 30px;
      height: 62px;
    }
    &__menu {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 100px 30px 30px 30px;
      transition: left 0.3s ease 0s;
      overflow: auto;
    }
    &__menu._active {
      left: 0;
    }
    &__menu:before {
      content: '';
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 62px;
      background: #373a3c;
      z-index: 3;
    }
    &__ul {
      flex-direction: column;
      align-items: flex-start;
    }
    .search {
      display: flex;
      margin-left: 300px;
      margin-bottom: 0;
      z-index: 5;
    }
    &__li {
      margin-left: 0;
      margin-bottom: 30px;
      flex-wrap: wrap;
      .arrow {
        width: 15px;
      }
    }
    &__li:nth-child(4) {
      display: none;
    }
    &__li:last-child {
      margin-bottom: 0;
    }
    &__li._active .nav__animation {
      display: block;
    }
    &__link {
      font-size: 24px;
      color: #fff;
    }
    &__animation {
      position: relative;
      padding-top: 0;
      flex: 1 1 100%;
      display: none;
      li {
        padding: 15px 5px 5px 5px;
        a {
          color: #fff;
          font-size: 20px;
        }
      }
      li:first-child {
        padding: 5px 5px 5px 5px;
      }
    }
    .menu-burger__header {
      position: relative;
      width: 40px;
      height: 35px;
      display: block;
      cursor: pointer;
      z-index: 5;
    }
    .menu-burger__header span,
    .menu-burger__header:after,
    .menu-burger__header:before {
      height: 3px;
      width: 100%;
      position: absolute;
      background: #fff;
      margin: 0 auto;
      transition: all 0.3s ease 0s;
    }
    .menu-burger__header span {
      top: 16px;
    }
    .menu-burger__header:after,
    .menu-burger__header:before {
      content: '';
    }
    .menu-burger__header:after {
      bottom: 5px;
    }
    .menu-burger__header:before {
      top: 5px;
    }
    .menu-burger__header._active span {
      opacity: 0;
    }
    .menu-burger__header._active:before {
      transform: rotate(38deg);
      top: 16px;
    }
    .menu-burger__header._active:after {
      transform: rotate(-38deg);
      bottom: 16px;
    }
  }
  .slider__item {
    min-height: 400px;
  }
  .slider__game-name {
    top: 60%;
    left: 57%;
    span {
      font-size: 30px;
    }
  }
  .slider__buttons {
    top: 60%;
    left: 57%;
    margin-top: 10px;
    a {
      padding: 8px 15px;
      font-size: 14px;
    }
  }
  .slider .slick-arrow {
    width: 60px;
    height: 400px;
  }
  .info {
    &__head {
      img {
        width: 50px;
      }
      h2 {
        font-size: 30px;
      }
      h3 {
        font-size: 22px;
      }
    }
    &__card {
      margin-right: 0px;
      margin-top: 40px;
    }
  }
  .games {
    padding: 60px 0;
    &__arrow {
      h2 {
        font-size: 30px;
      }
    }
    &__slider {
      .slick-track {
        margin-left: 50px;
      }
    }
  }
  .design-lab {
    padding: 80px 30px;
    &__text {
      h2 {
        font-size: 40px;
      }
      p {
        margin: 5px 0 30px 0;
        font-size: 20px;
        max-width: 400px;
      }
      .link {
        margin-right: 10px;
        font-size: 14px;
      }
      .dark {
        padding: 15px 30px;
      }
      .green {
        padding: 15px 15px;
      }
    }
  }
  .xbox {
    padding: 58px 80px 38px 80px;
  }
}
/*****************************************Адаптив*****************************************/
// Устройства Small (телефоны с горизонтальной ориентацией, менее 768 пикселей)
@media (max-width: 1399.98px) {
}

// Устройства Large (настольные компьютеры, менее 1200 пикселей)
@media (max-width: 1199.98px) {
  .nav__bar {
    padding: 0 80px;
  }
  .details__par {
    margin: 47px 120px 80px 120px;
  }
}
// Устройства Medium (планшеты, менее 992 пикселей)
@media (max-width: 991.98px) {
  .nav {
    &__bar {
      padding: 0 30px;
      height: 62px;
    }
    &__menu {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 100px 30px 30px 30px;
      transition: left 0.3s ease 0s;
      overflow: auto;
    }
    &__menu._active {
      left: 0;
    }
    &__menu:before {
      content: '';
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 62px;
      background: #373a3c;
      z-index: 3;
    }
    &__ul {
      flex-direction: column;
      align-items: flex-start;
    }
    .search {
      display: flex;
      margin-left: 300px;
      margin-bottom: 0;
      z-index: 5;
    }
    &__li {
      margin-left: 0;
      margin-bottom: 30px;
      flex-wrap: wrap;
      .arrow {
        width: 15px;
      }
    }
    &__li:nth-child(4) {
      display: none;
    }
    &__li:last-child {
      margin-bottom: 0;
    }
    &__li._active .nav__animation {
      display: block;
    }
    &__link {
      font-size: 24px;
      color: #fff;
    }
    &__animation {
      position: relative;
      padding-top: 0;
      flex: 1 1 100%;
      display: none;
      li {
        padding: 15px 5px 5px 5px;
        a {
          color: #fff;
          font-size: 20px;
        }
      }
      li:first-child {
        padding: 5px 5px 5px 5px;
      }
    }
    .menu-burger__header {
      position: relative;
      width: 40px;
      height: 35px;
      display: block;
      cursor: pointer;
      z-index: 5;
    }
    .menu-burger__header span,
    .menu-burger__header:after,
    .menu-burger__header:before {
      height: 3px;
      width: 100%;
      position: absolute;
      background: #fff;
      margin: 0 auto;
      transition: all 0.3s ease 0s;
    }
    .menu-burger__header span {
      top: 16px;
    }
    .menu-burger__header:after,
    .menu-burger__header:before {
      content: '';
    }
    .menu-burger__header:after {
      bottom: 5px;
    }
    .menu-burger__header:before {
      top: 5px;
    }
    .menu-burger__header._active span {
      opacity: 0;
    }
    .menu-burger__header._active:before {
      transform: rotate(38deg);
      top: 16px;
    }
    .menu-burger__header._active:after {
      transform: rotate(-38deg);
      bottom: 16px;
    }
  }
  .xbox {
    padding: 58px 80px 38px 80px;
  }
  .main {
    img {
      height: 500px;
    }
    .main__info {
      left: 50%;
      h1 {
        font-size: 30px;
        line-height: 131%;
        padding-right: 90px;
      }
    }
  }
  .details {
    .info {
      h2 {
        font-size: 30px;
      }
      p {
        font-size: 20px;
      }
      .details__info {
        h2 {
          font-size: 30px;
        }
        p {
          font-size: 22px;
        }
      }
    }
    iframe {
      width: 600px;
      height: 500px;
    }
    .details__specifications {
      h2 {
        font-size: 30px;
      }
    }
    .details__par {
      margin: 47px 80px 80px 80px;
      grid-template: 1fr 1fr 1fr/ 1fr 1fr;
      p {
        font-size: 20px;
      }
    }
  }
}
// Устройства Small (телефоны с горизонтальной ориентацией, менее 768 пикселей)
@media (max-width: 767.98px) {
  .nav {
    .search {
      display: none;
    }
    &__bar {
      padding: 0 20px;
    }
  }
  .main {
    img {
      height: 280px;
    }
    .main__info {
      top: 280px;
      left: 3%;
      align-items: center;
      h1 {
        font-size: 20px;
        line-height: 131%;
        padding-right: 0;
      }
      p {
        margin-left: 0;
      }
      .main__link {
        margin-top: 30px;
        a {
          padding: 9px 29px;
          font-size: 16px;
          margin-right: 13px;
        }
        a:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .xbox {
    padding: 50px 20px 30px 20px;
    &__nav {
      flex-direction: column;
      flex-wrap: wrap;
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          margin-bottom: 15px;
          margin-right: 20px;
        }
      }
      h3 {
        margin-bottom: 15px;
      }
    }
    &__nav-1 {
      display: flex;
      flex-direction: column;
    }
    &__nav-2 {
      margin-bottom: 20px;
    }
    &__foot {
      .eng {
        font-size: 14px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .details {
    padding: 93px 0 60px 0;
    .details__info {
      width: 80%;
      h2 {
        font-size: 30px;
      }
      p {
        font-size: 20px;
      }
    }
    .details__link {
      display: flex;
      flex-direction: column;
      span {
        margin-bottom: 5px;
      }
    }
    .info p {
      font-size: 20px;
      margin: 20px 0 40px 0;
    }
    .details__video {
      padding: 30px 0 30px 0;
      width: 90%;
      iframe {
        width: 100%;
        height: auto;
      }
    }
    .details__img {
      img {
        width: 100%;
        height: 80%;
      }
    }
    .details__feature-1 {
      padding: 0 10px 50px 10px;
    }
    .details__feature-2 {
      padding: 0 10px 50px 10px;
    }
    .details__specifications {
      h2 {
        font-size: 26px;
      }
      .details__par {
        margin: 40px 10px 40px 10px;
        grid-template: 1fr / 1fr;
        column-gap: 30px;
      }
    }
  }
}
